

* {
  font-family: 'Roboto', sans-serif;
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.hamburger {
  display: none;
}

.main {
  flex: 1 1 auto;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotateImage 5s linear infinite;
}

.header {
  flex: 0 0 auto;
  width: 150px;
  background-color: #10002B;
  z-index: 100;
  height: 100%;
  position: fixed;

  display: flex;

  align-items: center;
  justify-content: center;
}

.header .button {
  border: solid 1px #240046;
}

.main {
  margin-left: 150px;
}

.header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 2px 2px 10px 2px #090018;

  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.header img:hover {
  transform: scale(1.05);
}

.header header {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header nav {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header nav ul {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header li {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
}

.header li:hover {
  background-color: #240046;
  border-left: 5px solid #7B2CBF;
}

header nav ul {
  list-style-type: none;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
}

.head1 p {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 0;
  text-align: left;

}

.head2 h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
  transition: 0.2s ease-in-out;
}

.head2 h1:hover {
  text-shadow: 2px 2px 10px #7B2CBF;
}

.home {
  align-items: left;
  justify-content: left;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 110px 150px 50px 40px;
  background-image: 
    /* Define a linear gradient that fades to transparent */
    linear-gradient(
      to right, /* or to top/right/left depending on the fade direction */
      rgba(36, 0, 70, 1), /* starting color, black with opacity */
      transparent 170% /* the point at which it starts becoming transparent */
    ),
    url('https://photobooth.cdn.sports.ru/preset/post/3/74/95bab1e32484ca47a93e1c02f8a7f.jpeg'); /* Path to the background image */

  animation: floatAnimation 30s ease infinite;

}

@keyframes floatAnimation {

  0% {
    background-position: 60% 50%;
    
  }
  50% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 60% 50%;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about {
  background-image: linear-gradient(to left, #f1dcff, #eacdff);
  background-size: 400%;
  animation: animatedBackground 2s ease infinite;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.about .about_cont {
  display: flex;
}

.about .img_cont {
  width: 300px;
  padding-left: 10px;
}

.about h1 {
  color: #3C096C;
  font-size: 70px;
}


.about img {
  flex: 1 1 200px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
  transition: 0.2s ease-in-out;
}

.about img:hover {
  transform: scale(1.05);

}

.about p {
  flex: 1 1 300px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-family: 'Lato', sans-serif;
  border-left: 2px solid #3C096C;
}

.experience {
  background-color: white;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.experience h1 {
  color: #3C096C;
  font-size: 70px;
  text-align: center;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-340px * 5)); /* Scroll the images to the left; adjust this value based on the total width of your images */
  }
}

.experience .image_line {
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
}

.experience .image_line img {
  z-index: 1;
  animation: scrollImages 20s linear infinite;
  opacity: 0.8;
  max-width: 100%;
  object-fit: cover; /* This will cover the area without stretching the image */
  transition: 0.5s ease-in-out;
}

.experience .image_line:hover img {
  animation: scrollImages 8s linear infinite;

  opacity: 1;
}

.experience .exp_cont {
  justify-content: center;
}

.experience p {
  color: #3C096C;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-top: 2px solid #3C096C;
}



.comments {
  background-color: #3C096C;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  
}

.comments h1 {
  color: white;
  font-size: 70px;
  text-align: left;
}

.comments .comments_content {
  z-index: 1;
  border-left: #9D4EDD 2px solid;
  padding-left: 20px;
  margin-left: 20px;
}

.comments .comments_content p {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
}

.comments h2 {
  color: white;
  font-size: 10px;
  opacity: 0.2;
  text-align: left;

}

.comments .comments_content .testimonial-container h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #9D4EDD;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.comments .comments_content .testimonial-container p {
  color: #c9c9c9;
  font-size: 20px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
  margin-bottom: 40px;
}


.testimonial-container {
  background-color: #3C096C;
}

.navigation-dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.testimonial-container {
  z-index: 1;
  position: relative; 
  min-height: 200px;
}

.testimonial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0; /* Start as invisible */
  visibility: hidden; /* Start as hidden */
  transition: opacity 0.6s ease, visibility 0.6s ease; /* Smooth transitions for opacity and visibility */
  z-index: 1; /* Make sure testimonials are stacked below the active one */
}

.testimonial.active {
  background-color: #3C096C;
  opacity: 1;
  visibility: visible;
  z-index: 2; /* Make sure the active testimonial is always on top */
}

.navigation-dots {
  z-index: 10; /* Ensure the dots are above the testimonials */

  padding-top: 220px;
  text-align: center; /* Center-align the dots */
}

.dot {
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #9D4EDD;
  border-radius: 50%;
  display: inline-block;
  z-index: 10; /* Ensure the dots are above the testimonials */
  transition: background-color 0.6s ease; /* Smooth transition for hover and active states */
}

.active, .dot:hover {
  background-color: #7B2CBF; /* Darken the dot when active or hovered */
}

.contact {
  background-image: linear-gradient(to top, #10002B, #1a0033);
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  border: 0;
  text-decoration: none;
}

.contact h1 {
  color: white;
  font-size: 70px;
  text-align: center;
}

.contact p {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-top: 2px solid #9D4EDD;
}

.contact .exp_imgs {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  border: 0;
  gap: 20px;
}

.contact .exp_imgs .youtube  {
  font-size: 80px;
  border: none;
  text-decoration: none;
}

.contact .exp_imgs .youtube i {
  color: #FF0000;
  font-size: 80px;
  border: none;
  text-decoration: none;
}

.contact .exp_imgs .twitch i {
  color: #6441A5;
  font-size: 80px;
}

.contact .exp_imgs .spotify i {
  color: #1DB954;
  font-size: 80px;
}

.contact .exp_imgs p {
  border: none;
  margin: 0;
  font-size: 15px;
}

.contact .exp_imgs .youtube {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.2s ease-in-out;

}

.contact .exp_imgs .youtube .text_cont {
  padding-left: 20px;
}

.contact .exp_imgs .youtube h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: right;
}

.contact .exp_imgs .youtube p {
  margin: 0;
  padding: 0;
  text-align: right;
}

.contact .exp_imgs .twitch {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.2s ease-in-out;
}

.contact .exp_imgs .twitch .text_cont {
  padding-right: 20px;
}

.contact .exp_imgs .twitch h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: left;
}

.contact .exp_imgs .twitch p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.contact .exp_imgs .spotify {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.2s ease-in-out;
}

.contact .exp_imgs .spotify:hover {
  gap: 100px;
}

.contact .exp_imgs .youtube:hover {
  gap: 100px;
}

.contact .exp_imgs .twitch:hover {
  gap: 100px;
}

.contact .exp_imgs .spotify .text_cont {
  padding-left: 20px;
}

.contact .exp_imgs .spotify h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: right;
}

.contact .exp_imgs .spotify p {
  margin: 0;
  padding: 0;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }

  .main {
    margin-left: 0;
  }

  .hamburger {
    padding: 0;
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
  }

  .hamburger-menu {
    z-index: 7;
    margin: 20px;
    position: fixed;
    width: 30px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    animation: slideButtonDown 0.2s ease;
  }

  @keyframes slideButtonUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }

  @keyframes slideButtonDown {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hamburger-menu.hidden {
    z-index: 7;
    margin: 20px;
    position: fixed;
    width: 30px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 3s ease;
    animation: slideButtonUp 0.3s forwards;
  }
  
  .bar {
    height: 5px;
    background-color: #C77DFF;
    border-bottom:  1px solid #240046;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .change .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .change .bar:nth-child(2) {
    opacity: 0;
  }
  
  .change .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .menu {
    animation-fill-mode: forwards;
    display: none;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #240046;
  }

  .menu ul li {
    text-align: center;
    padding: 10px;
    background-color: #240046;
    border-left: 5px solid #7B2CBF;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  /* Show the menu */
  .show-menu {
    z-index: 5;
    width: 100%;
    display: block;
    background-color: #240046;
  }
  
  .show-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .show-menu ul li {
    text-align: center;
    padding: 10px;
    background-color: #240046;
    border-left: 5px solid #7B2CBF;
  }

  .show-menu ul li:hover {
    background-color: #3C096C;
  }

  
}